// Container
.container {
  max-width: ($containerWidth + $containerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;

  @media (max-width: $breakpoint1450) {
    max-width: 1200px;
  }

  @media (max-width: $breakpoint992) {
    max-width: 970px;
  }

  @media (max-width: $breakpoint768) {
    max-width: 740px;
  }

  @media (max-width: $breakpoint480) {
    max-width: none;
  }
}

// Body Locked
body {
  img {
    max-width: 100%;
    height: auto;
  }

  .title {
    font-family: 'Bree Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 80px;
    letter-spacing: -1px;
    color: #02073e;
    @media (max-width: $breakpoint1450) {
      font-size: 54px;
      line-height: 64px;
    }
    @media (max-width: $breakpoint768) {
      font-size: 36px;
      line-height: 52px;
    }
    @media (max-width: $breakpoint480) {
      font-size: 24px;
      line-height: 32px;
    }
  }

  .text {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 42px;
    color: #02073e;
    @media (max-width: $breakpoint1450) {
      font-size: 16px;
      line-height: 34px;
    }
    @media (max-width: $breakpoint768) {
      font-size: 14px;
      line-height: 28px;
    }
    @media (max-width: $breakpoint480) {
      font-size: 12px;
      line-height: 18px;
    }
  }

  .link {
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 16px;
    line-height: 42px;
    color: #3183ff;
  }

  background-color: #ffffff;
  &.locked {
    overflow: hidden;
  }
}

// Animations
// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
