// Header
// Header

// Navbar
nav {
  overflow: hidden;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 0 40px;
  // .menu__item
  &__item {
    &:last-child {
      margin-right: 0;
    }
  }

  // .menu__item-link
  &__item-link {
    color: #0f2137;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 33px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -16px;
      background-image: url(../img/accent.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      opacity: 0;
      height: 100%;
      width: 100%;
      transition: opacity 0.33s ease;
    }
    &:hover {
      color: #f94962;
      transition: color 0.33s ease;
    }
    &:hover:before {
      opacity: 1;
    }
  }

  &__item-accent {
    font-weight: 700;
    color: #f94962;
  }
}

.burger {
  display: none;
  cursor: pointer;
}

// Burger menu styles
@media screen and (max-width: $burgerBreakpoint) {
  // .menu
  .menu {
    position: fixed;
    background: #0f2137;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;

    &.active {
      display: flex;
      left: 0;
      top: 0;
      height: 100vh;
      width: 100vw;
      flex-direction: column;
      pointer-events: all;
      justify-content: center;
      align-items: center;
      z-index: 22;
      animation: fade 0.2s linear;
    }
  }

  // .burger
  .burger {
    display: block;
    position: relative;
    height: 20px;
    width: 30px;
    z-index: 102;
    cursor: pointer;

    &.active-burger {
      &:before {
        background: #ffffff;
        transform: rotate(45deg);
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        top: 8px;
      }

      &:after {
        background: #ffffff;
        transform: rotate(-45deg);
        bottom: 10px;
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
      }

      & span {
        transform: scale(0);
      }
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      background: #0f2137;
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }

    &:before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      position: absolute;
      top: 9px;
      right: 0;
      width: 100%;
      background: #0f2137;
      height: 2px;
      transform: scale(1);
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }
  }

  // .menu__item
  .menu__item {
    margin-top: 15px;
    margin-bottom: 20px;
    @media (max-width: $breakpoint480) {
      margin-bottom: 10px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  // .menu__link
  .menu__item-link {
    color: white;
    font-size: 28px;
    @media (max-width: $breakpoint480) {
      font-size: 18px;
    }
  }
}
